
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
    /* Text */
    --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
    --Softred: hsl(14, 88%, 65%);

   /* Gradient

    Background gradient:
    */
    --Softviolet: hsl(273, 75%, 66%);
    --Softblue: hsl(240, 73%, 65%);


    /*
    #### Text
    */
    --Verydarkgrayishblue: hsl(237, 12%, 33%);
    --Darkgrayishblue: hsl(240, 6%, 50%);
    /*
    #### Dividers
    */
    --Lightgrayishblue: hsl(240, 5%, 91%);

    --fontSize: 12px;
}

* {
    box-sizing: border-box;
}
html {
    font-size: var(--fontSize);
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    height:  100vh;
    width: 200vh;
    background: linear-gradient(hsl(273,75%,66%) , hsl(240,73%,65%));
    display: grid;
    justify-content: center;
    align-content: center;
}
.wraper {
    background: white;
    border-radius: 30px;
    height: 509px;
    width: 920px;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 6rem;
    background-image: url(/faq-accordion-card-main/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 1260%  65%;
}

.questions_ansqer__accordion > .answer {
    display: none;
}

.accordition__wallpaper {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.accordion_questions {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.questions_ansqer__accordion {
    width: 350px;
    border-bottom: 1px solid #e8e8ea;
}

.title_accordion {
    font-size: 3rem;
    margin-top: 0px;
}

.question_title {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1.4rem 0rem;
    color: (var(--Verydarkgrayishblue));
}

.questions {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s;
}
.questions img {
    align-self: center;
}

.image__wrapper {
    position: relative;
}

.image__wrapper__inner {
    background: url(/faq-accordion-card-main/images/illustration-woman-online-desktop.svg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: 120% center;

}

.box {
    position: absolute;
    top: 42%;
    left: -25%;
}
